<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized by Prince Mishra.

### Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
    <li>Java</li>
</ol>

### Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas</li>
    <li>numpy</li>
    <li>Matplotlib</li>
    <li>Tensorflow</li>
    <li>ggplot</li>
    <li>Scikit-learn</li>
</ol>

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Jupyter</td>
</tr>

<tr>
<td>Apache Spark</td>
</tr>

<tr>
<td>Apache Hadoop</td>
</tr>
    
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## __Objectives__:

<ul>
    <li>List popular languages for Data Scienec</li>
    <li>List popular libraries for Data Scienec</li>
    <li>List popular tools for Data Scienec</li>
    <li>Arithmetic Expression Evaluation</li>
</ul>

## Author
Prince Mishra